@inherits LayoutComponentBase
<header>
    <nav>
        <ul>
            <li><NavLink href="./" Match="NavLinkMatch.All">Example 1</NavLink></li>
            <li><NavLink href="./example2">Example 2</NavLink></li>
            <li><NavLink href="./example3">Example 3</NavLink></li>
        </ul>
    </nav>
</header>

<main>
    @Body
</main>