h1 {
    margin: 0 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::deep .split-container {
    --splitter-bar-size: 14px;
}

::deep .pane-of-split-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

::deep #split-container-1 .pane-of-split-container,
::deep #split-container-2 .pane-of-split-container:first-of-type,
::deep #split-container-2 .pane-of-split-container:last-of-type .pane-of-split-container:last-of-type {
    border: dashed 2px blueviolet;
}
